.heading {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
        margin-right: 2em;
    }
    .heading__title {
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
            padding: 0;

            &:nth-child(2) {
                font-size: 0.7em;
                color: #7ca2d5;
            }
        }
    }
}
.fill {
    flex: 1 1 auto;
}
.movie__image {
    width: 35em;
    height: 30em;
    margin: 0;
}
.movie__details {
    display: flex;
    flex-direction: row;

    .movie__image {
        img {
            width: 100%;
            max-width: 20em;
            height: auto;
            object-fit: cover;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        h3 {
            line-height: 16px;
        }
        .movie__about {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                color: #7ca2d5;
                li {
                    margin-top: 5px;
                }
            }
        }

        .about {
            margin-right: 50px;
        }
    }
}

@media (max-width: 800px) {
    .movie__details {
        flex-direction: column;

        figure {
            align-self: center;
        }
    }
}
