<div mat-dialog-title class="heading">
    <button (click)="onNoClick()" mat-fab aria-label="Back icon" color="accent">
        <mat-icon>close</mat-icon>
    </button>
    <div class="heading__title">
        <p>{{ data.Title }}</p>
        <p>{{ data.Genre }}</p>
    </div>
</div>
<div mat-dialog-content class="movie__details dialog">
    <figure class="movie__image">
        <img [src]="data.Poster" />
    </figure>
    <section>
        <div class="movie__plot">
            <h3>About the movie</h3>
            <p>{{ data.Plot }}</p>
        </div>
        <div class="movie__about">
            <div class="movie__actors about">
                <h3>Actors</h3>
                <ul>
                    <li *ngFor="let value of data.Actors.split(',')">{{ value }}</li>
                </ul>
            </div>
            <div class="movie__director about">
                <h3>Director</h3>
                <ul>
                    <li *ngFor="let value of data.Director.split(',')">{{ value }}</li>
                </ul>
            </div>
            <div class="movie__production about">
                <h3>Production</h3>
                <ul>
                    <li *ngFor="let value of data.Production.split(',')">{{ value }}</li>
                </ul>
            </div>
            <div class="movie__rated about">
                <h3>Rated</h3>
                <ul>
                    <li *ngFor="let value of data.Rated.split(',')">{{ value }}</li>
                </ul>
            </div>
            <div class="movie__writer about">
                <h3>Writer</h3>
                <ul>
                    <li *ngFor="let value of data.Writer.split(',')">{{ value }}</li>
                </ul>
            </div>
            <div class="movie__language about">
                <h3>Language</h3>
                <ul>
                    <li *ngFor="let value of data.Language.split(',')">{{ value }}</li>
                </ul>
            </div>
            <div class="movie__awards about">
                <h3>Awards</h3>
                <ul>
                    <li *ngFor="let value of data.Awards.split(',')">{{ value }}</li>
                </ul>
            </div>
        </div>
    </section>
</div>
<div mat-dialog-actions class="actions" align="end">
    <button (click)="onSubmit(data)" cdkFocusInitial class="actions--unliked" *ngIf="!isFavorite">
        Like <i class="heart-icon"></i>
    </button>
    <button (click)="onSubmit(data)" cdkFocusInitial *ngIf="isFavorite">
        Liked <i class="heart-icon"></i>
    </button>
</div>
