.dialog,
.actions {
    padding-left: 6em;
    padding-right: 6em;
}

.heading {
    padding-top: 2em;
    padding-left: 4em;
}
.actions {
    padding-bottom: 7em;
}
.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    button {
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: white;

        mat-icon {
            color: black;
        }
    }
    .heading__title {
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
            padding: 0;
            &:nth-child(1) {
                font-size: 1.5em;
            }

            &:nth-child(2) {
                font-size: 0.7em;
                color: #7ca2d5;
            }
        }
    }
}
.movie__image {
    width: 35em;
    height: 30em;
    margin: 0;
}
.movie__details {
    display: flex;
    flex-direction: row;

    .movie__image {
        img {
            width: 100%;
            max-width: 20em;
            height: auto;
            object-fit: cover;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        h3 {
            line-height: 16px;
        }
        .movie__about {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                color: #7ca2d5;
                li {
                    margin-top: 5px;
                    word-wrap: break-word;
                    max-width: 13em;
                }
            }
        }

        .about {
            margin-right: 50px;
        }
    }
}

.actions {
    height: 5em;
    button {
        width: 10em;
        height: 3em;
        border: 1px solid white;
        background-color: red;
        outline: none;
        color: white;
        border-radius: 25px;
        position: relative;
        font-size: 1em;
        padding-right: 25px;
        cursor: pointer;

        .heart-icon {
            background-image: url('/assets/images/like-colored.png');
            position: absolute;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.5em;
            height: 3.1em;
            width: 3.1em;
            right: -2px;
            top: -1px;
            background-color: white;
            border-radius: 50%;
            border: 4px solid red;
        }
    }

    .actions--unliked {
        background-color: white;
        border: 4px solid red;
        color: red;

        .heart-icon {
            top: -7px;
            right: -5px;
            height: 3.5em;
            width: 3.5em;
        }
    }
}

@media (max-width: 800px) {
    .dialog,
    .actions {
        padding-left: 1em;
        padding-right: 1em;
    }

    .heading {
        padding-top: 2em;
        padding-left: 4em;
    }
    .actions {
        padding-bottom: 1em;
        justify-content: center;
    }
    .movie__details {
        flex-direction: column;

        figure {
            align-self: center;
            width: 15em;
        }
    }
}
