:host {
    display: grid;
    grid-template-columns: 15em auto;
    height: 100%;
}
.icon-button {
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: 2rem;
    background-repeat: no-repeat;
    margin-right: 15px;
}
.play {
    background-image: url('/assets/images/play-colored.png');
}
.like {
    background-image: url('/assets/images/like-colored.png');
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 5px 0px 1px 2px rgba(0, 0, 0, 1);

    h1 {
        height: 3em;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            color: black;
            cursor: pointer;
            text-decoration: none;

            width: 13em;
            height: 3em;
            display: flex;
            align-items: center;
            padding-left: 2em;
            margin: 10px;

            p {
                font-size: 1em;
            }

            &.active {
                border-radius: 5px;
                background-color: #656cf6;
                color: white;
                .play {
                    background-image: url('/assets/images/play-blank.png');
                }
                .like {
                    background-image: url('/assets/images/like-blank.png');
                }
            }
        }
    }
}

main {
    display: grid;
    grid-template-rows: 7em auto;
    background-color: #eeedf3;

    .movie__list {
        display: flex;
        flex-direction: row;
        padding: 3em 7em 3em 7em;
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    main {
        .movie__list {
            padding: 1em;
        }
    }
}
