<nav>
    <h1>MovieZzz</h1>
    <ul>
        <a routerLink="/movies" routerLinkActive="active"
            ><i class="play icon-button"></i>
            <p>Movies</p></a
        >
        <a routerLink="/favorites" routerLinkActive="active"
            ><i class="like icon-button"></i>
            <p>Favorites</p></a
        >
    </ul>
</nav>

<main>
    <header class="navbar">
        <div class="navbar__search">
            <label for="search">Search</label>
            <mat-icon>search</mat-icon>
            <input
                type="text"
                [(ngModel)]="searchField"
                name="search"
                placeholder="The avengers, ..."
                (keyup)="search()"
            />
        </div>
        <div class="fill"></div>
        <div class="navbar__profile">
            <button mat-icon-button>
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </header>
    <section class="movie__list">
        <app-movie-list
            (view)="openDialog($event)"
            [movie]="movie"
            *ngFor="let movie of movies$ | async"
        ></app-movie-list>
    </section>
</main>
