:host {
    display: grid;
    grid-template-rows: 3em auto;
    height: 100%;
}

header {
    background-color: blue;
}

main {
    display: grid;
    grid-template-columns: 5em auto;
    nav {
        background-color: green;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .movie__list {
        display: flex;
        flex-direction: row;
        padding: 3em 7em 3em 7em;
        background-color: cyan;
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    main {
        .movie__list {
            padding: 1em;
        }
    }
}
