@import 'variables';

.container {
  .sidenav {
    display: none;
  }
}

@media (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 30vh auto;
    grid-template-areas: 'sidenav main';
    .sidenav {
      display: initial;
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      padding-top: $header-height;
      background-color: rgb(241, 241, 241);
      height: 100%;
      width: 30vh;
    }

    main {
      grid-area: main;
    }
  }
}
